<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">searchftt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-icons/font/bootstrap-icons.css"/>
        <script type="text/javascript" src="resources/scripts/bootstrap.bundle.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery.min.js"/>
    </head>
    <body id="body">
        <div class="container-fluid">
            <div class="row">
                <div id="content" class="col-md-12"/>
            </div>
        </div>
        <footer>
        
            <div class="poweredby">
                <a href="http://exist-db.org">
                    <img src="resources/images/powered-by.svg" alt="Powered by eXist-db"/>
                </a>
                <a href="https://www.jmmc.fr">
                    <img src="https://www.jmmc.fr/IMG/siteon0.png?1568820294" alt="Powered by JMMC"/>
                </a>
            </div>
        </footer>
    </body>
</html>
